/**
 *
 * Index
 *
 * 0.0 - Variables
 * 1.0 - General
 *  1.1 - Typography
 *  1.2 - Backgrounds
 *  1.4 - Forms
 * 2.0 - Layout
 * 3.0 - Header
 * 4.0 - Footer
 * 5.0 - Pages
 *  5.1 - Home
 *  5.2 - About
 *  5.3 - Contact
 *  5.4 - Error (404)
 *  5.5 - Thank You
 * 6.0 - Components
 *  6.1 - Buttons
 
 * 10.0 - Media min 768px
 *  11.0 - General
 *  12.0 - Layout
 *  16.0 - Components
 *    16.1 - Buttons=
 */

/* ================================================== */
/* #0.0 - Variables  ================================ */
/* ================================================== */

:root {
  --color-voodoo-50: #fbf8fb;
  --color-voodoo-100: #f6eff8;
  --color-voodoo-200: #eddfef;
  --color-voodoo-300: #e0c5e2;
  --color-voodoo-400: #cca2d0;
  --color-voodoo-500: #b47db8;
  --color-voodoo-600: #975e9b;
  --color-voodoo-700: #7e4b80;
  --color-voodoo-800: #663e67;
  --color-voodoo-900: #583758;
  --color-voodoo-950: #361c36;

  --color-cabaret-50: #fcf3f6;
  --color-cabaret-100: #fae9f0;
  --color-cabaret-200: #f6d4e1;
  --color-cabaret-300: #f0b1c7;
  --color-cabaret-400: #e680a2;
  --color-cabaret-500: #d74c77;
  --color-cabaret-600: #c73b5f;
  --color-cabaret-700: #ac2a48;
  --color-cabaret-800: #8e263d;
  --color-cabaret-900: #772436;
  --color-cabaret-950: #480f1b;

  --color-orange-50: #fff3ed;
  --color-orange-100: #ffe3d5;
  --color-orange-200: #fdc3ab;
  --color-orange-300: #fc9975;
  --color-orange-400: #fa6d48;
  --color-orange-500: #f73d18;
  --color-orange-600: #e8230e;
  --color-orange-700: #c1160d;
  --color-orange-800: #991413;
  --color-orange-900: #7b1413;
  --color-orange-950: #430709;

  --color-yellow-50: #fff7eb;
  --color-yellow-100: #ffe9c6;
  --color-yellow-200: #ffcf88;
  --color-yellow-300: #ffaf47;
  --color-yellow-400: #ff9420;
  --color-yellow-500: #f96e07;
  --color-yellow-600: #dd4b02;
  --color-yellow-700: #b73006;
  --color-yellow-800: #94240c;
  --color-yellow-900: #7a1f0d;
  --color-yellow-950: #460c02;

  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e5e5e5;
  --color-neutral-300: #d4d4d4;
  --color-neutral-400: #a3a3a3;
  --color-neutral-500: #737373;
  --color-neutral-600: #525252;
  --color-neutral-700: #404040;
  --color-neutral-800: #262626;
  --color-neutral-900: #171717;
  --color-neutral-950: #0a0a0a;

  --color-danger: #f73d18;
  --color-info: #1F7AF1;
  --color-success: #2ECC71;

  --color-text: var(--color-neutral-600);
  --color-text-light: white;
  --color-headings: var(--color-neutral-700);
  --color-headings-light: var(--color-neutral-50);
  --color-link: var(--color-cabaret-700);
  --color-link-hover: var(--color-cabaret-800);
  --color-link-light: var(--color-cabaret-300);
  --color-link-light-hover: var(--color-cabaret-400);
}

:root {
  --text-size-sm: 14px;
  --text-size-md: 16px;
  --text-size-lg: 20px;

  --text-size-h1: 61px;
  --text-size-h2: 48px;
  --text-size-h3: 39px;
  --text-size-h4: 31px;
  --text-size-h5: 25px;
  --text-size-h6: 20px;

  --text-size-h1-sm: 28px;
  --text-size-h2-sm: 25px;
  --text-size-h3-sm: 22px;
  --text-size-h4-sm: 20px;
  --text-size-h5-sm: 18px;
  --text-size-h6-sm: 16px;

  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;
  --grid-gap: 32px;
}

/* ================================================== */
/* #1.0 - General =================================== */
/* ================================================== */

html {
  background-color: var(--color-neutral-50);
  box-sizing: border-box;
  color: var(--color-text-700);
  height: 100%;
  line-height: 1.15;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100%;
  font: 300 16px/1.6 Poppins, Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
  height: auto;
}


/* ================================================== */
/* #1.1 Typography ================================== */
/* ================================================== */

h1,
.h1 {
  color: var(--color-headings);
  font-size: var(--text-size-h1-sm);
  font-weight: 800;
  line-height: 1.2;
}

h2,
.h2 {
  color: var(--color-headings);
  font-size: var(--text-size-h2-sm);
  font-weight: 800;
  line-height: 1.2;
}

h3,
.h3 {
  color: var(--color-headings);
  font-size: var(--text-size-h3-sm);
  font-weight: 800;
  line-height: 1.2;
}

h4,
.h4 {
  color: var(--color-headings);
  font-size: var(--text-size-h4-sm);
  font-weight: 800;
  line-height: 1.2;
}

h5,
.h5 {
  color: var(--color-headings);
  font-size: var(--text-size-h5-sm);
  font-weight: 800;
  line-height: 1.2;
}

h6,
.h6 {
  color: var(--color-headings);
  font-size: var(--text-size-h6-sm);
  font-weight: 800;
  line-height: 1.2;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p,
ul {
  margin: 16px 0;
}

h1:first-child,
.h1:first-child,
h2:first-child,
.h2:first-child,
h3:first-child,
.h3:first-child,
h4:first-child,
.h4:first-child,
h5:first-child,
.h5:first-child,
h6:first-child,
.h6:first-child,
p:first-child {
  margin-top: 0;
}

/* ================================================== */
/* #2.0 Layout ====================================== */
/* ================================================== */

main {
  margin-bottom: auto;
}

.container {
  margin: auto;
  width: 100%;
  max-width: 1280px;
}

.container-small {
  margin: auto;
  width: 100%;
  max-width: 768px;
}

.page-hero,
.page-section {
  padding: 36px 24px;
}

.footer__content {
  padding: 32px 24px;
}


/* ================================================== */
/* #3.0 Header ====================================== */
/* ================================================== */

.header {
  /* position: fixed; */
  background-color: var(--color-voodoo-800);
  width: 100%;
  z-index: 9999;
}

.header-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
  padding: 0 24px;
  max-width: 1280px;
}

.branding {
  flex: 50% 1 1;
  position: relative;
  z-index: 30;
}

.logo img {
  display: block;
  padding: 24px 0;
  width: 116px;
}

.navigation {
  width: 100%;
  height: 0;
  opacity: 0;
  overflow: hidden;
  z-index: 20;
}

.mobile-menu-toggle {
  display: flex;
  flex: 50% 1 1;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  z-index: 30;
}

#mobile-menu-toggle {
  display: none;
}

#mobile-menu-toggle:checked~.navigation {
  height: 100%;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.menu {
  padding: var(--spacing-lg) 0;
  list-style-type: none;
}

.menu li a {
  display: inline-block;
  position: relative;
  padding: 4px 8px;
  color: var(--color-neutral-100);
  font-size: 42px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

/* Mobile menu trigger button */
.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  width: 36px;
  height: 36px;
}

/* Trigger bars */
.hamburger span {
  display: block;
  background: var(--color-cabaret-100);
  width: 100%;
  height: 5px;
  transform-origin: center;
  transition: all 0.2s ease-in-out;
}

/* Animate button bars from hamburger to close button */
input:checked~.hamburger span:nth-child(1) {
  transform: translateY(11px) rotate(-45deg);
}

input:checked~.hamburger span:nth-child(2) {
  opacity: 0;
}

input:checked~.hamburger span:nth-child(3) {
  transform: translateY(-12px) rotate(45deg);
}

/* Add a bottom border to menu item with zero width */
.menu li a::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 14px;
  background: var(--color-primary-200);
  width: 0;
  height: 16px;
  z-index: -1;
}

/* Use the border to make a dot  for active link */
.menu li a.active::after {
  border-radius: 100%;
  width: 16px;
}

/* Animate the border on hover */
.menu li a:hover::after {
  border-radius: 0;
  width: 100%;
  transition: width 0.3s ease-in-out, border-radius 0.1s ease-in-out;
}

/* ================================================== */

.main {
  /* background-color:rgb(223, 151, 42) */
}

.footer {
  padding: var(--spacing-sm) 0;
  background-color: var(--color-voodoo-800);
  color: var(--color-neutral-100);
}

.footer p {
  margin: 0;
}



#form {
  display: none;
}

.form {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
}

.form-content {
  display: flex;
  flex-direction: column;
  padding: 16px;
  max-width: 740px;
}

.field {
  display: flex;
  flex-direction: column;
}

#error-message {
  font-size: 1rem;
  color: var(--color-danger);
}

/* ================================================== */
/* #5.5 Thank You =================================== */
/* ================================================== */

.thank-you {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.thank-you .container {
  position: relative;
}

/* Sticky note animation. Amended from, */
/* CSS animations: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_animations/Using_CSS_animations */
/* The @keyframes Rule and properties: https://www.w3schools.com/css/css3_animations.asp */
/* @keyframes examples: https://developer.mozilla.org/en-US/docs/Web/CSS/@keyframes */
@keyframes fadeInSpin {
  from {
    opacity: 0;
    transform: rotate(-360deg);
  }

  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}

/* Pin appears after sticky note stopped spinning */
@keyframes fadeIn {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}

/* Sticky note style*/
.thank-you .sticky-note {
  background-image: radial-gradient(circle,
      var(--color-yellow-300),
      var(--color-yellow-400),
      var(--color-cabaret-500));
  padding: 20px;
  /* Apply two levels of shadow to give a 3D effect */
  box-shadow:
    0 10px 15px rgba(0, 0, 0, 0.2),
    0 4px 6px rgba(0, 0, 0, 0.2);
  border: 0.5px solid rgba(255, 165, 0, 0.5);
  /* Set element's width to 100% of its parent */
  width: 100%;
  /* Element does not exceed 300px. */
  max-width: 270px;
  /* That element keeps a quadratic box shape */
  aspect-ratio: 1 / 1;
  margin: auto;
  border-radius: 5px;
  /* Centers child elements using flex. */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  position: relative;
  /* Apply animation */
  animation: fadeInSpin 2s ease-in-out forwards;
  /* Stack order of the element */
  z-index: 0;
}

/* Pin head & shadow */
.thank-you .pin {
  /* Pin head size (width+height)*/
  width: 20px;
  height: 20px;
  background-color: var(--color-voodoo-400);
  border-radius: 50%;
  /* Pin relative to sticky note */
  position: absolute;
  /* Adjusts so the pin head appears at the top of the needle */
  top: -25px;
  /* Positions the center of the pin head */
  left: 50%;
  transform: translateX(-50%);
  /* Inner shadow was modified using guidance from: https://devdevout.com/css/css-inner-shadow */
  box-shadow:
    inset 0 0 0 1px hsla(0, 0%, 0%, .1),
    inset 3px 3px 3px hsla(0, 0%, 100%, .2),
    inset -3px -3px 3px hsla(0, 0%, 0%, .2),
    33px 18px 6px hsla(0, 0%, 0%, .3);
  z-index: 1;
  /* Initially hides pin; fades in post-sticky-note spin */
  visibility: hidden;
  animation: fadeIn 2s ease-in-out forwards;
  animation-delay: 2.1s;
}

/* Needle body shadow with angle */
.thank-you .pin::before {
  /* to display pseudo element */
  content: '';
  position: absolute;
  /* horizontal position */
  left: 9px;
  /* vertical position */
  top: 40px;
  width: 30px;
  height: 1px;
  /* Makes the pseudo-element itself invisible, showing only the shadow */
  background: transparent;
  box-shadow: -4px 6px 2px hsla(0, 0%, 0%, .2);
  /* Angle of the shadow */
  transform: rotate(-35deg);
  /* Below the needle body */
  z-index: 1;
  /* Initially hides shadow; fades in post-sticky-note spin */
  visibility: hidden;
  animation: fadeIn 2s ease-in-out forwards;
  animation-delay: 2.1s;
}

/* Needle */
.thank-you .pin::after {
  content: '';
  position: absolute;
  left: 9px;
  top: 23px;
  width: 2px;
  height: 20px;
  background-color: #555;
  /* Keep above shadow */
  z-index: 2;
  /* Initially hides needle; fades in post-sticky-note spin */
  visibility: hidden;
  animation: fadeIn 2s ease-in-out forwards;
  animation-delay: 2.1s;
}


/* ================================================== */
/* #  Add Post ===================================== */
/* ================================================== */

.wall {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr;
  gap: 16px;
  margin-top: var(--spacing-lg);
  margin-bottom: var(--spacing-lg);
}

.post-card {
  padding: 16px;
}

.post-message {
  font-size: 22px;
  padding: 16px 0;
}

.post-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.like-button {
  width: 32px;
  height: 32px;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  opacity: 0.2;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.like-button:hover {
  opacity: 0.4;
}

.like-button svg {
  fill: white;
}

.post-it-note {
  background: var(--color-orange-400);
  color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.post-add {
  border: dashed 3px var(--color-voodoo-500);
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ======================================================================== */
/* ======================================================================== */
/* #10.0 Media min 768px ================================================== */
/* ======================================================================== */
/* ======================================================================== */

@media all and (min-width: 768px) {
  /* ================================================== */
  /* #11.1 Typography ================================= */
  /* ================================================== */

  h1 {
    font-size: var(--text-size-h1);
  }

  h2 {
    font-size: var(--text-size-h2);
  }

  h3 {
    font-size: var(--text-size-h3);
  }

  h4 {
    font-size: var(--text-size-h4);
  }

  h5 {
    font-size: var(--text-size-h5);
  }

  h6 {
    font-size: var(--text-size-h6);
  }

  /* ================================================== */
  /* #13.0 Header ===================================== */
  /* ================================================== */

  .header-content {
    align-items: center;
  }

  .hamburger {
    display: none;
  }

  .navigation {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    height: 100%;
    opacity: 1;
  }

  .menu {
    display: flex;
    padding: 0;
  }

  .menu li a {
    padding: 4px 8px;
    font-size: 16px;
    text-decoration: none;
  }

  /* Link hover animation */

  .menu li a::after {
    bottom: 6px;
    height: 12px;
  }

  .menu li a.active::after {
    border-radius: 100%;
    width: 12px;
  }

  .menu li a.active:hover::after {
    border-radius: 0;
    width: 100%;
  }

  /* ================================================== */
  /* #  Add Post ===================================== */
  /* ================================================== */

  .wall {
    grid-template-columns: 1fr 1fr 1fr;
  }
}





#load-more-btn {
  display: none;
}

/* ======================================================================== */
/* Media Queries for Thank You Page ======================================= */
/* ======================================================================== */

.thank-you .pin {
  width: 24px;
  height: 24px;
  top: -45px;
}

.thank-you .pin::after {
  left: 11px;
  height: 35px;
}