/**
 *
 * Index
 *
 * 0.0  - Variables
 * 1.0  - General
 *  1.1 - Typography
 *  1.2 - Backgrounds
 *  1.4 - Forms
 * 2.0  - Layout
 * 3.0  - Header
 * 4.0  - Footer
 * 5.0  - Pages
 *  5.1 - Home
 *  5.2 - About
 *  5.3 - Contact
 *  5.4 - Error (404)
 *  5.5 - Thank You
 * 6.0  - Components
 *  6.1 - Buttons
 *  6.2 - Divider
 *  6.3 - Key Frames
 *  6.4 - Alerts
 
 * 10.0  - Media min 768px
 *  11.0 - General
 *  12.0 - Layout
 * 15.0  - Pages
 *  15.1 - Home
 *  15.2 - About
 *  15.3 - Contact
 *  15.4 - Error (404)
 *  15.5 - Thank You
 * 16.0  - Components
 *  16.1 - Buttons
 */

/* ================================================== */
/* #0.0 - Variables  ================================ */
/* ================================================== */

:root {
  --color-voodoo-50: #fbf8fb;
  --color-voodoo-100: #f6eff8;
  --color-voodoo-200: #eddfef;
  --color-voodoo-300: #e0c5e2;
  --color-voodoo-400: #cca2d0;
  --color-voodoo-500: #b47db8;
  --color-voodoo-600: #975e9b;
  --color-voodoo-700: #7e4b80;
  --color-voodoo-800: #663e67;
  --color-voodoo-900: #583758;
  --color-voodoo-950: #361c36;

  --color-cabaret-50: #fcf3f6;
  --color-cabaret-100: #fae9f0;
  --color-cabaret-200: #f6d4e1;
  --color-cabaret-300: #f0b1c7;
  --color-cabaret-400: #e680a2;
  --color-cabaret-500: #d74c77;
  --color-cabaret-600: #c73b5f;
  --color-cabaret-700: #ac2a48;
  --color-cabaret-800: #8e263d;
  --color-cabaret-900: #772436;
  --color-cabaret-950: #480f1b;

  --color-orange-50: #fff3ed;
  --color-orange-100: #ffe3d5;
  --color-orange-200: #fdc3ab;
  --color-orange-300: #fc9975;
  --color-orange-400: #fa6d48;
  --color-orange-500: #f73d18;
  --color-orange-600: #e8230e;
  --color-orange-700: #c1160d;
  --color-orange-800: #991413;
  --color-orange-900: #7b1413;
  --color-orange-950: #430709;

  --color-yellow-50: #fff7eb;
  --color-yellow-100: #ffe9c6;
  --color-yellow-200: #ffcf88;
  --color-yellow-300: #ffaf47;
  --color-yellow-400: #ff9420;
  --color-yellow-500: #f96e07;
  --color-yellow-600: #dd4b02;
  --color-yellow-700: #b73006;
  --color-yellow-800: #94240c;
  --color-yellow-900: #7a1f0d;
  --color-yellow-950: #460c02;

  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e5e5e5;
  --color-neutral-300: #d4d4d4;
  --color-neutral-400: #a3a3a3;
  --color-neutral-500: #737373;
  --color-neutral-600: #525252;
  --color-neutral-700: #404040;
  --color-neutral-800: #262626;
  --color-neutral-900: #171717;
  --color-neutral-950: #0a0a0a;

  --color-danger: #f73d18;
  --color-info: #1F7AF1;
  --color-success: #2ECC71;

  --color-text: var(--color-neutral-600);
  --color-text-light: white;
  --color-headings: var(--color-voodoo-900);
  --color-headings-light: var(--color-voodoo-100);
  --color-link: var(--color-cabaret-700);
  --color-link-hover: var(--color-cabaret-800);
  --color-link-light: var(--color-cabaret-300);
  --color-link-light-hover: var(--color-cabaret-400);
}

:root {
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;
  --grid-gap: 32px;
}

/* ================================================== */
/* #1.0 - General =================================== */
/* ================================================== */

body {
  background-color: var(--color-neutral-100) !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font: 300 16px/1.6 Poppins, Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
  height: auto;
}

/* ================================================== */
/* #1.1 Typography ================================== */
/* ================================================== */

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  color: var(--color-headings);
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 800;
}

.heading-light {
  color: var(--color-headings-light);
}

/* ================================================== */
/* #2.0 Layout ====================================== */
/* ================================================== */

main {
  margin-bottom: auto;
}

.container {
  margin: auto;
  width: 100%;
  max-width: 1280px;
}

.container-small {
  margin: auto;
  width: 100%;
  max-width: 768px;
}

.page-hero,
.page-section {
  padding: 36px 24px;
}

.footer__content {
  padding: 32px 24px;
}

/* ================================================== */
/* #3.0 Header ====================================== */
/* ================================================== */

.header {
  background-color: var(--color-voodoo-800);
  width: 100%;
  z-index: 9999;
}

.header-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
}

.branding {
  flex: 50% 1 1;
  position: relative;
  z-index: 30;
}

.logo img {
  display: block;
  padding: 24px 0;
  width: 260px;
}

/* Navigation */

.navigation {
  width: 100%;
  height: 0;
  opacity: 0;
  overflow: hidden;
  z-index: 20;
}

.mobile-menu-toggle {
  display: flex;
  flex: 50% 1 1;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  z-index: 30;
}

#mobile-menu-toggle {
  display: none;
}

#mobile-menu-toggle:checked~.navigation {
  height: 100%;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.menu {
  padding: var(--spacing-lg) 0;
  list-style-type: none;
  margin: 0;
}

.menu li {
  margin: 0 8px;
}

.menu li a {
  display: inline-block;
  position: relative;
  padding: 4px 8px;
  color: var(--color-neutral-100);
  font-size: 26px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.menu li a.active {
  color: var(--color-cabaret-300);
}

.menu li:hover a {
  opacity: 0.8;
}

.menu li:hover a.active {
  opacity: 1;
}

/* Mobile menu trigger button */
.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  width: 36px;
  height: 36px;
}

/* Trigger bars */
.hamburger span {
  display: block;
  background: var(--color-cabaret-100);
  width: 100%;
  height: 5px;
  transform-origin: center;
  transition: all 0.2s ease-in-out;
}

/* Animate button bars from hamburger to close button */
input:checked~.hamburger span:nth-child(1) {
  transform: translateY(11px) rotate(-45deg);
}

input:checked~.hamburger span:nth-child(2) {
  opacity: 0;
}

input:checked~.hamburger span:nth-child(3) {
  transform: translateY(-12px) rotate(45deg);
}

/* Add a bottom border to menu item with zero width */
.menu li a::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 24px;
  background: var(--color-voodoo-600);
  width: 0;
  height: 16px;
  z-index: -1;
}

/* Use the border to make a dot  for active link */
.menu li a.active::after {
  border-radius: 100%;
  width: 16px;
}

/* Animate the border on hover */
.menu li a:hover::after {
  border-radius: 0;
  width: 100%;
  transition: width 0.3s ease-in-out, border-radius 0.1s ease-in-out;
}

main {
  margin-bottom: auto;
}

/* ================================================== */
/* #4.0 Footer ====================================== */
/* ================================================== */

.footer {
  padding: var(--spacing-sm) 0;
  background-color: var(--color-voodoo-800);
  color: var(--color-neutral-100);
}

.footer p {
  margin: 0;
}

.form {
  background-color: var(--color-orange-400);
  color: white;
  padding: var(--spacing-lg);
  border-radius: 12px;
}

/* ================================================== */
/* #5.1 Home Page =================================== */
/* ================================================== */

/* Home Hero ======================================== */

.home-hero {
  background-color: var(--color-voodoo-200);
}

/* Add Post ========================================== */

.wall {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin-top: var(--spacing-lg);
  margin-bottom: var(--spacing-lg);
}

.post-card {
  padding: 16px;
}

.post-message {
  font-size: 22px;
  padding: 16px 0;
  max-height: 200px;
  overflow-y: auto;
  padding: 16px;
}

.post-message::-webkit-scrollbar-track {
  border: 1px solid var(--color-cabaret-500);
  padding: 2px 0;
  background-color: var(--color-cabaret-500);
}

.post-message::-webkit-scrollbar {
  width: 2px;
}

.post-message::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--color-cabaret-600);
}

.post-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.post-it-note {
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.post-add {
  border: dashed 3px var(--color-voodoo-500);
  display: flex;
  justify-content: center;
  align-items: center;
}

#error-message {
  font-size: 1rem;
  color: var(--color-danger);
}

/* ================================================== */
/* #5.2 About Page ================================== */
/* ================================================== */

/* ================================================== */
/* #5.3 Contact Page ================================ */
/* ================================================== */

.hero-contact {
  background-color: var(--color-cabaret-500);
  color: var(--color-text-light);
  padding: var(--spacing-lg) 0;
}

/* ================================================== */
/* #5.4 Error Page ================================== */
/* ================================================== */

.error-content {
  text-align: center;
  padding-bottom: 3rem;
}

.error-content h1 {
  font-size: 9rem;
  margin: 0;
  font-weight: 1000;
  background: url(assets/images/404_bg.png) center no-repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.error-content h2 {
  font-size: 2.6rem;
  font-weight: 800;
}

.error-content p {
  padding-top: 1rem;
  font-size: 1.1rem;
}

.error-content a:hover {
  background: #ffae78;
  color: #ff4800;
}

/* ================================================== */
/* #5.5 Thank You =================================== */
/* ================================================== */

.thank-you {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 82vh;
}

.thank-you .container {
  position: relative;
}

/* Sticky note style*/
.thank-you .sticky-note {
  background-image: radial-gradient(circle,
      var(--color-yellow-300),
      var(--color-yellow-400),
      var(--color-cabaret-500));
  padding: 20px;
  /* Apply two levels of shadow to give a 3D effect */
  box-shadow:
    0 10px 15px rgba(0, 0, 0, 0.2),
    0 4px 6px rgba(0, 0, 0, 0.2);
  /* color-yellow-400 w. opacity */
  border: 0.5px solid rgba(255, 148, 32, 0.5);
  /* Set element's width to 100% of its parent */
  width: 100%;
  /* Element does not exceed 300px. */
  max-width: 270px;
  /* That element keeps a quadratic box shape */
  aspect-ratio: 1 / 1;
  margin: auto;
  border-radius: 5px;
  /* Centers child elements using flex. */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  position: relative;
  /* Apply animation */
  animation: fadeInSpin 2s ease-in-out forwards;
  /* Stack order of the element */
  z-index: 0;
}

/* Pin head & shadow */
.thank-you .pin {
  /* Pin head size (width+height)*/
  width: 20px;
  height: 20px;
  background-color: var(--color-voodoo-400);
  border-radius: 50%;
  /* Pin relative to sticky note */
  position: absolute;
  /* Adjusts so the pin head appears at the top of the needle */
  top: -35px;
  /* Positions the center of the pin head */
  left: 50%;
  transform: translateX(-50%);
  /* Inner shadow was modified using guidance from: https://devdevout.com/css/css-inner-shadow */
  box-shadow:
    inset 0 0 0 1px hsla(0, 0%, 0%, .1),
    inset 3px 3px 3px hsla(0, 0%, 100%, .2),
    inset -3px -3px 3px hsla(0, 0%, 0%, .2),
    32px 9px 6px hsla(0, 0%, 0%, .3);
  z-index: 1;
  /* Initially hides pin; fades in post-sticky-note spin */
  visibility: hidden;
  animation: fadeIn 2s ease-in-out forwards;
  animation-delay: 2.1s;
}

/* Needle body shadow with angle */
.thank-you .pin::before {
  /* to display pseudo element */
  content: '';
  position: absolute;
  /* horizontal position */
  left: 7px;
  /* vertical position */
  top: 26px;
  width: 30px;
  height: 1px;
  /* Makes the pseudo-element itself invisible, showing only the shadow */
  background: transparent;
  box-shadow: -4px 7px 2px hsla(0, 0%, 0%, .2);
  /* Angle of the shadow */
  transform: rotate(-35deg);
  /* Below the needle body */
  z-index: 1;
  /* Initially hides shadow; fades in post-sticky-note spin */
  visibility: hidden;
  animation: fadeIn 2s ease-in-out forwards;
  animation-delay: 2.1s;
}

/* Needle */
.thank-you .pin::after {
  content: '';
  position: absolute;
  left: 10px;
  top: 20px;
  width: 2px;
  height: 23px;
  background-color: #555;
  /* Keep above shadow */
  z-index: 2;
  /* Initially hides needle; fades in post-sticky-note spin */
  visibility: hidden;
  animation: fadeIn 2s ease-in-out forwards;
  animation-delay: 2.1s;
}

/* ================================================== */
/* #6.1 Buttons ===================================== */
/* ================================================== */

.delete-button {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.btn-primary {
  background-color: var(--color-cabaret-500);
  border-color: var(--color-cabaret-500);
  color: white;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus-visible {
  background-color: var(--color-cabaret-700) !important;
  border-color: var(--color-cabaret-700) !important;
  color: white;
}

.btn-light {
  background-color: var(--color-neutral-100);
  border-color: var(--color-neutral-100);
  color: var(--color-cabaret-500);
}

.btn-light:hover,
.btn-light:active,
.btn-light:focus-visible {
  background-color: var(--color-neutral-300) !important;
  border-color: var(--color-neutral-300) !important;
  color: var(--color-cabaret-500) !important;
}


/* Like Button Styles */

.like-button {
  width: 32px;
  height: 32px;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  opacity: 0.2;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.like-button.liked {
  opacity: 1;
}

.like-button:hover {
  opacity: 0.4;
}

.like-button.liked:hover {
  opacity: 0.8;
}

.like-button svg {
  fill: white;
}

/* Scroll Button */
.scroll-arrows {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrows {
  width: 64px;
  height: 64px;
}

.arrows path {
  animation: arrow-animation 3s infinite;
  -webkit-animation: arrow-animation 3s infinite;
}

.arrows .arrow-1 {
  fill: #663E67;
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
}

.arrows .arrow-2 {
  fill: #D74C77;
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
}

.arrows .arrow-3 {
  fill: #FA6D48;
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}

#load-more-btn {
  display: none;
}

/* ================================================== */
/* #6.2 Divider ===================================== */
/* ================================================== */

.divider {
  line-height: 0;
  background: var(--color-voodoo-200);
  fill: var(--color-neutral-100);
}

/* ================================================== */
/* #6.3 Key Frames ================================== */
/* ================================================== */

/* Sticky note animation. Amended from, */
/* CSS animations: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_animations/Using_CSS_animations */
/* The @keyframes Rule and properties: https://www.w3schools.com/css/css3_animations.asp */
/* @keyframes examples: https://developer.mozilla.org/en-US/docs/Web/CSS/@keyframes */
@keyframes fadeInSpin {
  from {
    opacity: 0;
    transform: rotate(-360deg);
  }

  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}

/* Pin appears after sticky note stopped spinning */
@keyframes fadeIn {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes arrow-animation {
  0% {
    opacity: 0
  }

  25% {
    opacity: 1
  }

  50% {
    opacity: 0
  }

  100% {
    opacity: 0
  }
}

@-webkit-keyframes arrow-animation {
  0% {
    opacity: 0
  }

  25% {
    opacity: 1
  }

  50% {
    opacity: 0
  }

  100% {
    opacity: 0
  }
}

/* ================================================== */
/* #6.4 Alerts ====================================== */
/* ================================================== */

#alert-container {
  position: fixed;
  bottom: 16px;
  right: 16px;
  min-height: 10px;
  min-width: 200px;
  z-index: 99999;
}

.alert {
  background-color: var(--color-neutral-50);
  padding: 8px 16px;
  border-radius: 4px;
  margin-bottom: 4px;
}

.alert--success {
  background-color: var(--color-success);
  color: var(--color-text-light);
}

.alert--info {
  background-color: var(--color-info);
  color: var(--color-text-light);
}

.alert--danger {
  background-color: var(--color-danger);
  color: var(--color-text-light);
}


/* add style for images and text in about us page */

.card {
  width: 90%;
}

.card .card-img-top {
  width: 100%;
  height: auto;
  /* Maintain aspect ratio */
}

.card-body {
  padding: 1.25rem;
  text-align: center;

}

.card-title {
  font-size: 1.25rem;
}

.card-text {
  font-size: 1rem;
  margin-top: 10px;
}

.card .card-img-top {
  width: 80%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.card .card-img-top {
  margin: 10px auto;
}


.card .card-img-top {
  transition: filter 0.7s ease;
  filter: brightness(0.7);
}

.card:hover .card-img-top {
  filter: brightness(1.2);
}

.card .card-img-overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.7s ease;
}

.card:hover .card-img-overlay {
  opacity: 1;
}

.about-us-section {
  background-color: var(--color-cabaret-500);
  color: var(--color-text-light);
}

.members>h1 {
  font-weight: bolder;
}


/* ======================================================================== */
/* ======================================================================== */
/* #10.0 Media min 768px ================================================== */
/* ======================================================================== */
/* ======================================================================== */

@media all and (min-width: 768px) {

  /* ================================================== */
  /* #13.0 Header ===================================== */
  /* ================================================== */

  .header-content {
    align-items: center;
  }

  .hamburger {
    display: none;
  }

  .navigation {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    height: 100%;
    opacity: 1;
  }

  .menu {
    display: flex;
    padding: 0;
  }

  .menu li a {
    padding: 4px 8px;
    font-size: 16px;
    text-decoration: none;
  }

  /* Link hover animation */

  .menu li a::after {
    bottom: 2px;
    height: 12px;
  }

  .menu li a.active::after {
    border-radius: 100%;
    width: 12px;
  }

  .menu li a.active:hover::after {
    border-radius: 0;
    width: 100%;
  }

  /* ================================================== */
  /* #15.1 Home Page ================================== */
  /* ================================================== */

  .wall {
    grid-template-columns: 1fr 1fr 1fr;
  }

  /* ================================================== */
  /* #15.2 About Page ================================= */
  /* ================================================== */

  /* ================================================== */
  /* #15.3 Contact Page =============================== */
  /* ================================================== */

  /* ================================================== */
  /* #15.4 Error Page ================================= */
  /* ================================================== */

  /* ================================================== */
  /* #15.5 Thank You Page ============================= */
  /* ================================================== */

  .sticky-note p {
    margin: 15px 0;
  }

  .sticky-note .btn {
    margin-top: 20px;
  }

  /* Sticky note style*/
  .thank-you .sticky-note {
    /* Set element's width to 100% of its parent */
    width: 100%;
    /* Element does not exceed 300px. */
    max-width: 485px;
    /* That element keeps a quadratic box shape */
    aspect-ratio: 1 / 1;
    margin: auto;
  }

  .thank-you .pin {
    width: 24px;
    height: 24px;
    top: -43px;
    box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, .1),
      inset 3px 3px 3px hsla(0, 0%, 100%, .2),
      inset -3px -3px 3px hsla(0, 0%, 0%, .2),
      35px 16px 6px hsla(0, 0%, 0%, .3);
  }

  .thank-you .pin::before {
    /* horizontal position */
    left: 7px;
    /* vertical position */
    top: 37px;
    width: 30px;
    box-shadow: -2px 8px 2px hsla(0, 0%, 0%, .2);
  }

  .thank-you .pin::after {
    left: 11px;
    height: 33px;
    top: 22px;
  }
}